 /* Colors and Fonts */

body {
  background: #EBEBEB;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color:  #384047;
  font-size: 15px;
}

#crop {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

strong {
  font-weight: 700;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1{
  color: #FFA500;
  font-size: 22px;
}

h2{
  font-size: 18px;
  font-weight: 700;
}

h3{
  font-size: 16px;
  color: #FFA500;
  font-weight: 300;
}

a{
  color: #384047;
  text-decoration: none;
}

a:hover{
  color: #FFA500;
  text-decoration: none;
}

table {
  font-weight: 300;
  font-size: 15px;
}

td {
  padding: 20px;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
}



/* First simple components */

.text-center {
  text-align: center;
}

.container {
  width: 70%;
  margin: 50px auto;
}

.card {
  background: white;
  padding: 50px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.spacer {
  height: 50px;
}

.list-inline {
  padding-left: 10px;
}

.list-inline li {
  display: inline-block;
  padding: 20px;
}

.list-inline li i {
  font-size: 18px;
  margin: 5px;
}

.btn-yellow {
  position: relative;
  top: 15px;
  background-color: #FFA500;
  width: 120px;
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
}

.btn-yellow:hover {
  border: 3px solid #FFA500;
  background-color: transparent;
  border-radius: 20px;

  color: #FFA500;
}


/* Fixed menu layout */

#content {
  margin-top: 120px;
}

#menu {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 85px;
  width: 100%;
}

#menu ul {
  list-style: none;
  padding-left: 50px;
}

#menu li {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

#menu a {
  text-decoration: none;
  font-size: 25px;
  color:#788188;
}

#menu a:hover {
  color: white;
}



/* Fixed sidebar layout */

#content {
  margin-left: 100px;
}

#sidebar {
  background-color: #384047;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100px;
  text-align: center;
}

#sidebar ul {
  list-style: none;
  padding-left: 0px;
}

#sidebar li {
  margin-top:50px;
  margin-bottom: 50px;
}

#sidebar a {
  text-decoration: none;
  font-size: 25px;
  color:#788188;
}

#sidebar a:hover {
  color: white;
}



/* Responsive layout behavior */

@media (min-width: 900px) {
  #content{
    margin-left: 100px;
    margin-top: -20px;
  }
  #menu {
    display: none;
  }
  .container {
  width: 70%;
  }
}

@media (max-width: 900px) {
  #content{
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
  #menu {
    width: 100%;
  }
  .container {
  width: 70%;
  }
}

@media (max-width: 320px) {
  #content{
    margin-top: -40px;
    margin-left: 0px;
  }
  #sidebar {
    display: none;
  }
  #menu {
    width: 100%;
  }
  .container {
  width: 100%;
  }
}
